!!! 5
%html
%head
  %title InspiredShots
  = stylesheet_link_tag :all
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js', 'jquery.infinitescroll.js', 'application', 'view', 'jquery.lettering'
%body
  #content
    %h1#title InspiredShots
    %h4#subtitle &rarr; Infinitely scrolling <a href='http://dribbble.com'>dribbble</a>
    %ul#feed= yield
    %footer
      %p
        Created by #{link_to 'Odin Dutton', 'http://github.com/twe4ked'} 
        &amp; #{link_to 'Tim Oxley', 'http://github.com/secoif'} 

    <a href="https://github.com/twe4ked/inspiredshots"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

/ Ruby Dribbble API wrapper by Jeremy Weiskotten (http://github.com/jeremyw/swish)
/ jQuery infinite scroll plugin by Brian Lopez (http://github.com/brianmario/jquery-infinite-scroll)
